.img {
	width: 500px;
  	height: auto;
	display: block;
	margin: auto;
}

#bg {
	background-color: #FFD041;	
}

.title {
	font-size: 5rem;
	margin: -40px 0 -40px 48px;
	font-family: 'Shadows Into Light', cursive;
	color: #353535;
	display: inline;	
}


.myNav li a span {
	display: inline;
	list-style-type: none;
	float: right;
	margin: -10px;
}

.myNav li {
	margin: 0;
}

.myNav li a {
	cursor: pointer;
}

.myNav .nav .nav-pills {
	margin: 0;
}

.nav nav-pills {
	display: inline-block;
	
}

.glyphicon {
	color: #353535;
	width: 50px;
	height: 50px;
}

.icon {
	width: 50px;
	height: 50px;
	color: #353535;
}

.nav li {
	display: inline;
}

.nav>li>a>span:focus, .nav>li>a>span:hover {
    background-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent !important;
}

.nav li span:hover {
	color: white;
}

.icon {
	width: 20px;
	height: 20px;
	display: inline-block;
}


/*////////////////////////////////*/

.myRow {
	display: flex; 
}

.about {
	background-color: #1352A2;
/*	background-color: #333333;*/
	display: inline-block;
	width: 50vw;
	padding: 20px;
	flex: 1;
}

.about h1 {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	color: white;
	font-size: 4.5rem;
}

.about-description {
	background-color: #ebe4e4;
	display: inline-block;
	float: right;
	width: 50vw;
	padding: 20px;
	font-family: 'Amatic SC', cursive;
}

.about-description p {
	font-size: 3rem;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
}


